<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {{#if title}}
            {{title}}
        {{else}}
            Frontend Starter
        {{/if}}
    </title>

    {{#> head-block}}        
    {{/head-block}}
</head>
<body>
    {{#> header-block}}
        {{> includes/header}}
    {{/header-block}}

    {{#> content-block}}
    {{/content-block}}

    {{#> footer-block}}
        {{> includes/footer}}
    {{/footer-block}}

    {{#> scripts-block}}
    {{/scripts-block}}
</body>
</html>